
@{
    ViewBag.Title = "Create";
}

<h2>Создание товара</h2>

<form id="createProduct">
    <label>Название товара</label>
    <input name="Name" />
    <br />
    <label>Описание</label>
    <input name="Description" />
    <br />

    <label>Цена</label>
    <input name="Price" />
    <br />
    <button id="saveBtn" type="button">Сохранить</button>
</form>

<script>
    $("#saveBtn").click(function () {
        $.ajax({
            type:'POST',
            url: '/Product/Create',
            data: $("#createProduct").serialize()
        })
            .done(function (response) {
                $("#tableContiner").html(response)
                $("#actionContainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL")
            });
    });
</script>