
@{
    ViewBag.Title = "Create";
}

<h2>Создание категории товара</h2>

<form method="post">

    <label>Название</label>
    <input name="Name"/>

    <br />

    <label>Описание</label>
    <input name="Description"/>

    <br />

    <button type="submit">Сохранить</button>
</form>

