@model MobileBazar.Entities.Category

@{
    ViewBag.Title = "Edit";
}

<h2>Реадактирование категории товара</h2>

<form method="post">
    <input type="hidden" name="ID" value="@Model.ID"/>

    <label>Название</label>
    <input name="Name" value="@Model.Name"/>

    <br />

    <label>Описание</label>
    <input name="Description" value="@Model.Description"/>

    <br />

    <button type="submit">Сохранить</button>
</form>

